<body class="text-white font-body">
  <header class="bg-gray-900 text-orange-500 p-4 fixed w-full z-50">
    <nav class="flex justify-center items-center w-[92%] mx-auto">
      <div>
        <ul style="list-style-type: none;" class="flex items-center gap-[4vw]">
          <li><a class="hover:text-white font-bold" routerLink="/home">Home</a></li>
          <li><a class="hover:text-white font-bold" routerLink="/service">Service</a></li>
          <li><a class="hover:text-white font-bold" routerLink="/about">About</a></li>
          <li><a class="hover:text-white font-bold" routerLink="/contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>
</body>
<router-outlet></router-outlet>
